
body 
{ 
  height: 100%;
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  }

.page
{ 
  height: 100%;
  width: 100%;
  min-height: 100%;
  background: #D9D4D4;
}


.wrapper
{ 
  height: 100%;
  width: 100%;
  min-height: 100%;
  background: #fff url(/images/code.3ca.png) no-repeat bottom left;
  border-bottom-right-radius: 800px 600px;
  }


.odd { 
background: #eee;
 }

.even { 
background: #ccc;
 }

ul.table { 
list-style: none;
padding: .3em;
display: table;
margin: 0 auto;
 }

ul.table li.trow { 
padding: .1em;
font-size: .8em;
display: table-row;
 }

ul.table li span.tcell 
{ 
padding: .1em .5em;
display: table-cell;
  }

ul.table li span.tcell 
{ 
padding: .1em .5em;
display: table-cell;
  }


.tabulate
{ 
display: table;
 }

.tabulate .tgroup
{ 
display: table-group;
 }

.tabulate .trow
{ 
display: table-row;
 }

.tabulate .tcell
{ 
display: table-cell;
 }

.tabulate .theader
{ 
display: table-header;
 }




#bitonomy h2.title
{ 
  padding: 0;
  margin: 0;
  }

#bitonomy .bitonomyMarket h2.title
{ 
  text-align: center;
  }


.bitonomyActivityBar
{ 
  background: gray;
  }

.bitonomyHeader 
{ 
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 1.3em;
  background: #ccc;
  z-index: 100;
 }

.bitonomyFooter 
{ 
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1.3em;
  background: #ccc !important;
  z-index: 100;
 }

.xxpanel
{ 
  border: solid red 1px;
 }

.xxwidget
{ 
  border: solid blue 1px;
 }

.content-panel,
.bitonomyContents 
{ 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
 }

.bitonomyContentPanels
{ 
  position: relative;
  min-height: 100%;
  height:     auto !important;
  height:     100%;

  };

.bitonomyActivityBar .div
.bitonomyHeaderBar .div
{ 
  display: inline;
 }

.bitonomyContents
{ 
min-height: 100%;
 }

.bitonomyContentLeft
{ 
background: grey;
 }
.bitonomyContentRight
{ 
background: grey;

 }

.bitonomyContentLeft h2,
.bitonomyContentRight h2
{ 
  font-size: 1em;
  padding: .2em;
  margin: .2em;
  }
.bitonomyContentTop
{ 

 }


.bitonomyMarketsWidget .bitonomyMarketUp
{ 
background: green;
 }

.bitonomyMarketsWidget .bitonomyMarket .bitonomyTickerTitle
{ 
color: red;
}

.bitonomyMarketsWidget .bitonomyTitle a
{ 
color: white;
}

ul.bitonomyMarkets
{ 
  list-style: none;
  margin: 0;
  padding: 0;
  } 

ul.bitonomyMarkets li
{ 
margin: 0;
padding: 0;
 }

.bitonomyMarket
{ 

padding: .3em;
width: 23em;
float: left;
 }

.bitonomyMarketTitle
{ 
  text-align: center;
  }

.clear
{ 
clear: both;
 }

.marketAccountsWidget .ui-accordion-content
{ 
padding: .3em .3em .3em .3em;
  }

.bitonomyTickerContent
{ 
padding: 0;
margin: 0;
 }

.bitonomyTickerPrice
{ 
float: left;
text-align: center;
 }

.bitonomyTickerLast
{ 
font-size: 1.4em;
color: green;
width: 60%;
 }

.bitonomyTickerBid,
.bitonomyTickerAsk
{ 
font-size: .7em;
color: green;
width: 20%;
 }


.bitonomyContentCenter h1 { 
font-size: 1.3em;
padding: 0;
margin: 0;
 }

.bitonomyContentCenter h2 { 
font-size: 1.1em;
padding: 0;
margin: 0;
 }

.bit-market-trade-form { 
background: #ccc;
padding: .3em;
padding-bottom: 2em;
 }

.bit-market-trade-form { 
background: #ccc;
 }

.bit-market-trade-form .tradeInformation{ 
background: #ccc;
float: right;
width: 30%;
background: #eee;
padding: .2em;
 }

.bit-market-trade-form .tradeInformation .buyPrice,
.bit-market-trade-form .tradeInformation  .sellPrice
{ 
  display: inline;
  opacity: .8;
  font-size: .8em;
 } 

.bit-market-trade-form .tradeForm .action
{ 
float: left;
width: 7em;
 height: 3em;
padding-top: 2.3em;
  padding-left: 1em;
  text-align: rignt;
  }

.bit-market-trade-form .tradeForm .confirm
{ 
  text-align: center;
 }

.bit-market-trade-form .tradeForm .totals
{ 
    text-align: center;
  padding: .3em;
  margin: .7em 1.3em;
  background: #eee;
 }

.bit-market-trade-form .tradeForm .totals .proposedAction,
.bit-market-trade-form .tradeForm .totals .proposedAmount,
.bit-market-trade-form .tradeForm .totals .proposedPrice
{ 
  font-weight: bold;
  
  }

.actionBuy,
.positive
{ 
  color: green;
 }

.actionSell,
.negative
{ 
  color: red;
 }

.optionDisabled
{ 
display: none;
 }

.hidden,
.visibilityHidden
{ 
  display: none !important;
 }

.asks,
.offers,
.accountSelling,
.accountBuying,
.accountBought,
.accountSold
{ 
background: #eee;
width: 50%;
float: left;
 }

.accountAsking ul.table,
.accountBidding ul.table
{ 
  background: #ccc;
  margin: 0;
  padding: 0;
 }

.accountAsking ul li,
.accountBidding ul li
{ 
  display: block;
  float:none;
  width: auto;
 }


.bitonomyAccountTradeHistory
{ 
  clear: both;
 }


.bitonomyMarketExchangeUtils
{ 
  clear: both;
 }

.bitonomyMarket .ui-tabs-panel
{ 
  padding: .3em .5em;
 }

.bitonomyMarketExchangeUtils h3,
.bitonomyMarketAccountResource h2
{ 
margin: 0;
 text-align: center;
 }

.sectionHeader 
{ 
  background: #aaa;
 }

.sectionHeader .button
{ 
  float: right;
  background: #ccc;
 }



.bitMarketExchangeDepth
{ 
  height: 170px;
  width: 320px;
  clear: both;
 }


.bitMarketDepthGraph
{ 
  height: 170px;
  width: 320px;
  clear: both;
 }


.realtime-graph .bitMarketDepthGraph
{ 
  height: 170px;
  width: 100%;
  clear: both;
 }

